<div
  [cdkDropListConnectedTo]="connectedTo()"
  cdkDropList
  class="flex flex-col items-center gap-2"
  id="stock"
>
  @if (topCard(); as card) {
    <div (cdkDragEnded)="isDragging.set(false)"
         (cdkDragStarted)="isDragging.set(true)"
         (click)="onFlip()"
         [cdkDragData]="card"
         [class.cursor-grab]="card.faceUp"
         [class.cursor-pointer]="!card.faceUp"
         [cdkDragDisabled]="!card.faceUp"
         cdkDrag
         class="group active:cursor-grabbing rounded-lg border-2 border-dashed border-white/30 relative">
      @if (!card.faceUp) {
        <div class="hidden group-hover:flex items-center justify-center w-20 h-28 rounded-lg  bg-white/5 absolute top-0 left-0 z-10 text-white/40">
          <svg lucideRotateCcw></svg>
        </div>
      }
      <app-card [card]="card"/>
    </div>
  }
  @if (!topCard() || isDragging()) {
    <div class="w-20 h-28 rounded-lg border-2 border-dashed border-white/30
  flex items-center justify-center text-white/40 text-2xl">
      ♻
    </div>
  }
</div>
