/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
.cdk-drag-preview {
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}
.cdk-drag-placeholder {
  display: none;
}
